#Chapter 1

##Exercise 1

In [1]:
# Replace ____ below to display "Learning Python"
print("Learning Python")

Learning Python

## Exercise 2: *Python as a calculator*

In [2]:
# Add 19 and 17
print(19 + 17)

# Subtract 12 from 99
print(99 - 12)

36
87

## Exercise 3: *More Calculations*

In [ ]:
# Calculate and print 9 multiplied by 2
print(9 * 2)

# Print the result of dividing 120 by 12
print(120 / 12)

## Exercise 4: *Working with number variables*

In [4]:
# Age of a customer
customer_age = 27

# Create account_balance variable
account_balance= 120.50

# Print account_balance
print(account_balance)

120.5

##Exercise 5: *Updating variable values*

In [3]:
account_balance = 20000.00
is_millionaire = False

# Update account balance
account_balance = 1300000.00
# Update is_millionaire variable
is_millionaire= True

print(account_balance)
print(is_millionaire)

1300000.0
True

## Exercise 6: *Checking data types*

In [ ]:
customer_age = 49

# Print the data type of customer_age
print(type(customer_age))
print(type(is_millionaire))
print(type(account_balance))